@use "../../scss/" as *;


.Auth-form-container{
  @include mobile{
    margin-top: -100px;
  }
}

.cyberpunk-label {
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 0px 8px #ff00ff, 0px 0px 12px #00ffff, 0px 0px 16px #ffff00;
  }
  
  .cyberpunk-input {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    text-shadow: 0px 0px 8px #ff00ff, 0px 0px 12px #00ffff, 0px 0px 16px #ffff00;
  }

.cyberpunk-btn {
    background-color: #00b7ff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
  }
  
  .cyberpunk-btn:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    border-radius: 5px;
    background-image: linear-gradient(120deg, #ff0099, #00b7ff);
    animation: pulse 2s ease-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 0, 153, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 0, 153, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 0, 153, 0);
    }
  }
  