@use "../../scss/" as *;

// .swiper-wrapper {
//     // margin-left: 32px;
//     padding-right: 32px;
// }
  
.swiper-wrapper .swiper-slide{
    padding-right: 10px;
    margin-right: 50px;
    @include mobile{
        margin-right: 0px;
        width: 120px;
    }
}
.swiper-slide .swiper-slide-next{
    @include mobile{
        width: 120px;
    }
}
.movie-card {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160%;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    width: 120%; 
    @include tablet {
        width: 100%; 
        margin-right: 10px;
        height: 40%;
        border-radius: 5px;
    }
    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $black;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: $border-radius;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover::before {
            opacity: 0.8;
        }

        &:hover .btn {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fcfcfc;
	text-align: center;
}
.info-card{
    width: 100%;
    max-width: 100%;
    background: rgba(37, 37, 37, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: center;
    border-radius: 10px;
    @include tablet{
        margin-top: -30px;
        text-align: center;
    }
}
.info-card-title{
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: center;
    @include tablet{
        margin-left: 0;
        text-align: center;
    }
}
.text-title{
    font-size:20px;
    font-weight:600;
    @include tablet{
    font-size:10px;
    font-weight:300;
    }
}